/* Animaciones */
.container { -webkit-animation-delay: 2s; animation-delay: 1.5s; animation-duration: 1s; }
.logo { -webkit-animation-delay: 2s; animation-delay: 2s; animation-duration: 1s; }
.avatar-proyecto { -webkit-animation-delay: 2s; animation-delay: 1.5s; animation-duration: 1s; }
.bloque-gris { -webkit-animation-delay: 2s; animation-delay: 2s; animation-duration: 1s; }
.bloque-rojo { -webkit-animation-delay: 2s; animation-delay: 2.5s; animation-duration: 1s; }
.frase-inicio { -webkit-animation-delay: 2s; animation-delay: 3s; animation-duration: 1s; }
.titulos-inicio { -webkit-animation-delay: 2s; animation-delay: 3.5s; animation-duration: 1s; }