
@media (max-width:1500px) {
	.menu-proyectos-fix { margin-right: 160px; }
	.menu-principal li a { font-size: 13px; }


@media (max-width:1366px) {
	ul.menu-principal { margin-right: 50px; }
	ul.menu-proyectos-fix { margin-right: 50px; }
	.fotografia-fondo { height: 445px; }
	.container { width: 1000px; }
	.logo { max-width: 140px; }
	.menu-principal li { font-size: 13px; }
	h2.titulos { font-size: 16px; }
	.miniaturas_de_tabs img { max-width: 120px; }
	.menu-principal li a { font-size: 12px; }
	.flecha-fix-2 { top: 300px; }
	.avatar-proyecto { top: -65px; }
	section.fotomastexto {
		margin-bottom:0px;

}
}
@media (max-width:1024px) {
	.controles-para-slide { display: none; }
	.logos-redes-top { display: none; }
	body { overflow-x: hidden; }
}
@media (max-width:991px) {

	.nombre-landing {
		font-size:11px;
	}

	section.landing {
		font-size:10px;
	}

h1.display {
	font-size:16px;
}
	.eapps-instagram-testimonials-title {
		font-size:16px !important;
	}

	section.single-plantas {
		padding-top:0px;
	}

	section.ver-mas-plantas {

		margin-top:0px;
	}

	.pie {
		padding-bottom:70px;
	}

	.btn-ver-mas-plantas {
		margin-top:15px;
	}


	.tabs-plantas {
		margin:30px 0 30px 0;
	}
	.titulo-h1-inicio {
		display:none;
	}


#compartir.single-plantas {
	margin:0 auto;
	margin-top:30px;
}
section.landing {
	margin:0 auto;
}


	#formulario-contacto { margin-top: 30px; }
	.wpgmp_tabs_container { margin-top: 0px; }
	.descripcion_galeria_proyectos ul { margin: 0; }
	.form-group-telefono { margin-bottom: 10px; }
	h1 { font-size: 25px; }
	h2 { font-size: 20px; }
	.logos-redes-top { display: block; }
	.frase { font-size: 13px; padding:15px; }
	.bloque-gris h2 { font-size: 16px; }
	.foto_portada_planta_tab { margin-right: 0px; }
	.no-padding-right { padding-right: 15px; }
	.col-rojo { background: #e5302d; float: left; padding-left: 30px; padding-right: 30px; padding-bottom: 0px; }
	.col-formulario { padding-left: 30px; padding-right: 30px; }
	.bloque-gris { padding-top: 0px; }
	.estado-proyecto-small { padding-bottom: 10px; margin-bottom: 5px; }
	body { font-size: 12px; }
	.top { }
	.menu-principal { display: none; }
	.borrar-imagen { display: none; }
	header { display: none; }
	header.celular { display: block; }
	.solo-celular { display: block; }
	.controles-para-slide { display: none; }
	.mh-head { float: right; margin-top: 20px; }
	.mh-btns-left a { font-size: 30px; color: #e5302d; }
	.frase { width: 100%; padding: 15px; padding-top: 30px; padding-bottom: 30px; font-size:13px; padding:15px;}
	.container { width: 100%; }
	.descripcion_galeria_proyectos { padding-top: 15px; padding-bottom: 15px; z-index: 0; width: 100% !important; min-width: 100%; position: relative; border-radius: 0px; }
	.fotografia-fondo { min-height: 425px; }
	footer { display: none; }
	footer.celular { display: block; }
	.avatar-proyecto { display: none; }
	.estado-proyecto-small { float: left; }
	.estado-proyecto-small { top: -30px; }
	.foto_galeria { position: relative; }
	.galerias_wrap { position: relative; }
	.fotografia-fondo { height: auto; min-height: unset; }
	img.slide-responsivo { position: relative; left: 50%; transform: translate(-50%, 0); width: auto; max-width: unset; }
	.slick-slide figure { height: unset; position: unset; width: 100%; text-align: center; overflow: hidden; height: 400px; }
	.descripcion-proyecto .col-md-4 { padding-left: 0px; padding-right: 0px; }
	.descripcion-proyecto .col-md-6 { padding-left: 0px; padding-right: 0px; }
	.bloque-rojo { text-align: center; padding: 7px; }
	.bloque-gris { padding: 0px; padding-top: 0px; padding-bottom: 15px; }
	h1 { text-transform: uppercase; }
	.subir { left: 60px; bottom:20px; }
	.estado-de-proyecto { left: 0px; right: 0px; }
	#masinformacion h3 { margin-top: 0px; }
	.bloque-plantas { width: 50%; }
	.part-b .background { width: 100%; position: relative; }
	.seccion-formulario { margin-left: -15px; margin-right: -15px; padding-bottom: 0px; }
	.seccion-formulario .col-md-6 { margin-bottom: 0px; width: 100%; }
	.col-formulario { float: left; width: 100%; }
	.col-fluid-right { padding-left: 0px; }
	.miniaturas_de_tabs img { max-wifdth: 100px; border-radius: 5px; }
	.buscador img { max-width: 20px; }
	.buscador { float: right; width: 50px; padding: 15px; margin-top: 10px; margin-right: 10px; }
	footer.celular { padding: 0px; padding-top: 30px; }
	.pie { margin-top: 30px; }
	.solo-desktop { display: none; }
	.nav-pills>li>a { padding-left: 20px; padding-right: 20px; font-size: 20px; }
	.tab-grande { width: 100%; padding: 10px 0px 10px 0px; }
	.tab-grande.active { display: block; background: yellow; }
	.tabs-celular>li>a { display: none; }
	.tabs-celular >li+li { margin-left: 0px; }
	.tabs-celular>li.active>a { width: 100%; display: block; }
	.miniaturas_de_tabs_wrap { position: absolute; top: 150px; z-index: 900; }
	.btn-siguiente-tab { color: white; position: absolute; right: 15px; z-index: 1; font-size: 30px; padding: 15px; }
	.btn-anterior-tab { padding: 15px; color: white; position: absolute; left: 15px; z-index: 0; font-size: 30px; }
	.tabs-celular>li.active>a { font-size: 15px; width: 100%; text-align: center; margin-left: 0px; }
	.tabs-celular>li { width: 100%; }
	.tabs-celular { border-top: 0px; border-bottom: 0px; }
	.miniaturas_de_tabs { display: none; }
	.tabs-solicitar-agenda>li>a { font-size: 13px; }
	.btn-filtros { width: unset; padding-left: 20px; padding-right: 20px; }
	.mm-slideout { z-index: auto; }
	.nav-pills>li>a { font-size: 13px; }
	.ayuda { float: unset; width: unset; margin-bottom: 30px; margin-right: 0; }
	.no-padding-left { padding-right: 0px; }
	.logos-redes-top { right: 15px; }
	.wpgmp_categories { display: none; }
	#ubicacion .col-md-4 { float: left; width: 100%; }
	.estado-normal { position: relative; top: 0; right: 0; float: none; text-align: center; margin: 0 auto; padding-bottom: 0px; margin-top: 5px; }

	/* Landing */
	.proyecto-destacado { padding: 0px; position: relative; margin:0px -15px 30px -15px; }
	.label-landing { top: 15px; right: 15px; }

	.bloques-landing {
		margin-left:-15px;
		margin-right:-15px;
	}



.row-eq-height {
	display:block;
}

.bloque-con-fondo {
	display:none;
}

.bloque-con-fondo-wrap {
	position: relative;
}

.bloque-fondo-completo {
	margin-bottom: 30px;
}

.informacion-planta  .text-right {
	text-align: left;
}

.box {
	float:left;
}

}



@media (max-width: 600px) {

#compartir.single-plantas {
	width:100%;

}



#compartir li {
width:25%;
float:left;
	margin:0;
	padding:0;
}

#compartir li a {
	width:100%;
	text-align: center;
}
}

@media (max-width:320px) {
	.logo { max-width: 130px; }
	.btn-rojo { font-size: 11px; }
	.icon-solicitar { display: none !important; }
	.nav-pills>li>a { font-size: 13px; }
	.menu-cotizar-celular { width: 130px; }
	.flecha-next, .flecha-prev {
		top:20%;
	}

	.big-prev-pro, .big-next-pro {
		top:30%;

	}
}

