li { list-style: none }
h1, h2, h3, h4, h5 { margin: 0 }
body { line-height: 180%; font-size: 12px; line-height: auto; color: #6f7071; font-family: Montserrat, sans-serif; background: #fff }
.alta { text-transform: uppercase }
.bold { font-weight: 700 }
.iconos { max-width: 15px }
h1.titulos { font-weight: 600; text-transform: uppercase }
h2.titulos { margin-bottom: 20px; margin-top: 20px; border: 0 solid #00f; text-align: center }
h4.bajadas { margin-bottom: 20px; text-align: center }
p { margin: 0 }
.menu-small { font-size: 12px; font-weight: 600; text-transform: uppercase }
.separador-section { float: left; width: 100% }
.separador { margin-top: 15px; width: 100%; height: 27px }
section { position: relative; float: left; width: 100% }
.top { color: #6f7071; width: 100%; position: relative; font-size: 11px; font-weight: 600; text-transform: uppercase; border-bottom: 1px solid #d5d5d5 }
.foto_portada_planta_tab { margin-top: 30px; margin-right: 0 }
.top.activo { border-bottom: 0 }
.pregunta_1 { width: 100%; float: left }
.pregunta_2 { -webkit-transition: all .5s ease; -moz-transition: all .5s ease; -o-transition: all .5s ease; -ms-transition: all .5s ease; transition: all .5s ease }
.pregunta_2 p { text-transform: uppercase; font-size: 10px }
.bloque_pregunta_2 { padding: 10px; background: #3e4852; margin-bottom: 30px }
.bloque_pregunta_2 hr { border-top: 1px solid #303438; width: 100%; float: left }
.bloque_pregunta_2 span { font-size: 11px; color: #ccc; width: 100%; float: left }
.sin-left { padding-left: 0; margin-left: 0 }
.sin-right { padding-right: 0; margin-right: 0 }
.col-centered { float: none; margin: 0 auto }
.pregunta_2, .pregunta_3 { width: 100%; float: left; display: none }
.buscador-resultados { width: 100%; float: left; padding: 15px; background: #303438; color: #fff; text-align: center; position: relative; display: none }
.buscador-resultados h4.title { text-align: center; text-transform: uppercase }
.buscador-resultados h5 { text-transform: uppercase }
.buscador { float: right; padding: 8px }
.buscador:hover { cursor: pointer }
section.pagina-interior { margin-top: 30px; margin-bottom: 30px }
.pagina-interior h2 { margin-bottom: 30px }
.buscador.activo { background: #303438; color: #fff }
.buscador img { max-width: 20px; width: 100% }
.top li { display: inline-block; padding: 8px; padding-right: 24px; text-align: left; float: left }
.menu-superior a { color: #6f7071 }
ul.menu-superior { margin: 0 !important; padding: 0 }
ul#menu-superior { margin-top: 0; padding: 0 }
.menu-superior { float: left }
.logo { float: left; width: 150px; margin-top: 10px; margin-bottom: 10px }
.logo img { max-width: 150px }
.head { margin-bottom: 0; border-bottom: 5px solid #d5d5d5; float: left; width: 100% }
ul.menu-principal { margin-bottom: 0 }
.head { position: relative }
.menu-principal { float: right; padding-left: 0; text-align: right; margin-top: 33px }
.menu-principal li a { display: inline-block; text-transform: uppercase; font-size: 14px; font-weight: 600; padding: 10px; border-top-right-radius: 10px; border-top-left-radius: 10px }
.menu-principal li { display: inline-block }
.menu-principal li a.activo { background: #e5302d; color: #fff }
.menu-principal a { color: #6f7071 }
.menu-principal li a:hover { background: #e5302d; cursor: pointer; color: #fff }
section.slide { background: #bb0031; width: 100% }
.buscador>svg { max-width: 18px }
.buscador>svg path { fill: #6f7071 }
.buscador .bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus, .bx-wrapper .bx-pager.bx-default-pager a:hover { background: #6f7071 }
.bx-wrapper .bx-pager.bx-default-pager a { background: #717173 }
.descripcion-galeria a { color: #fff }
.bx-wrapper { border: 0; box-shadow: none }
.descripcion-slide { width: 100%; position: absolute; bottom: 0; z-index: 20 }
.descripcion-slide>.barra { background: #e5302d; height: 30px; width: 100% }
.slide-descripcion-proyecto-right { color: #fff; background-color: rgba(65, 65, 74, .6); border-top-right-radius: 15px; padding: 20px; font-size: 12px; float: right; min-width: 340px; display: none }
.slide-descripcion-proyecto-left { background: #e5302d; border-top-left-radius: 15px; border-top-right-radius: 15px; color: #fff; padding: 20px; text-transform: uppercase; float: left }
.slide-ubicacion-proyecto { font-size: 11px }
.slide-estado-proyecto { font-size: 12px; font-weight: 400; background: #26333e; padding: 5px; padding-left: 12px; padding-right: 12px; float: left; margin-top: 5px }
.slide-descripcion-proyecto-left h1 { font-size: 26px }
.slide-ubicacion-proyecto img { max-width: 15px; float: left }
.slide-ubicacion-proyecto>span { margin-left: 4px }
.slide-imagen { position: relative }
.slide-proyecto-fondo { position: fixed; z-index: 10 }
.slide-proyectos-descripcion { position: absolute; z-index: 10; bottom: 0; left: 0; float: left; max-width: 360px; background: #6f7071; color: #fff; border-top-right-radius: 15px; padding: 30px }
.slide-proyectos-descripcion h2 { font-size: 25px }
.proyectos-vista { max-width: 130px }
.slide-proyectos-vistas { position: absolute; z-index: 10; right: 0; bottom: 0; border-radius: 15px; margin-right: 30px; margin-bottom: 15px }
.slide-proyectos-vistas img { border-radius: 15px; border: 3px solid #fff; width: 130px }
.slide-proyectos-vistas img:hover { cursor: pointer }
.slide-proyectos-vistas li { display: inline-block; position: relative }
img.play { max-width: 32px; position: absolute; z-index: 20; left: 0; right: 0; margin-left: auto; margin-right: auto; top: 20px; border: 0 }
.slide-imagen-fondo { width: 100%; height: 500px; position: fixed; filter: blur(8px); top: 0 }
.cargando-fotos-slide { position: absolute; z-index: 30; width: 25px; left: 0; right: 0; top: 50%; margin-left: auto; margin-right: auto; bottom: 0; color: #fff; display: none }
.slide-compactar { padding: 15px; margin-top: -30px; width: 100%; position: relative; position: absolute; right: 0 }
.slide-compactar img { max-width: 14px; opacity: .6; float: right; transform: rotate(90deg); margin-left: 20px }
.slide-compactar:hover { cursor: pointer }
.slide-compactar-open img { transform: rotate(-90deg) }
.slide-proyectos-descripcion-small { min-height: 20px; opacity: .6; font-size: 14px !important; float: left; font-weight: 600 !important }
.slide-compactar, .slide-proyectos-descripcion { -webkit-transition: all 1s }
.slide-proyectos { position: relative }
.slide-proyectos-js { position: relative }
.slide-equipamientos { position: relative }
.pager-prev, .pager-prev-principal { max-width: 80px; float: left; transform: rotate(180deg); margin-left: 15px }
.pager-next-principal:hover, .pager-next:hover, .pager-prev-principal:hover, .pager-prev:hover { opacity: .6; cursor: pointer }
.pager-next, .pager-next-principal { max-width: 80px; float: right; margin-right: 15px }
section.inicio { margin: 0; padding: 0 }
.fade2 { position: absolute; top: 0; left: 0; background: url(img/fade.png) top repeat-x; width: 100%; background: #e5302d; height: 400px }
.foto-empresa { position: relative }
.borde-redondo { border-radius: 15px }
.borde-redondo-arriba { border-top-right-radius: 15px; border-top-left-radius: 15px }
.slick-dots li button:before { font-size: 12px }
.slick-dots li { margin: 0 auto }
.slick-slide { outline: 0 }
.foto-empresa:after { content: ""; display: block; position: absolute; z-index: 50; width: 100%; height: 40px; bottom: 0; border-radius: 15px; background-image: linear-gradient(to bottom, transparent, #242429) }
.descripcion-empresa { position: absolute; z-index: 20; bottom: 0; width: 100%; color: #fff; padding: 20px; height: 130px; background-image: linear-gradient(to bottom, transparent, #242429); overflow: hidden; border-radius: 15px }
.descripcion-empresa h3 { font-size: 20px; font-weight: 400 }
.descripcion-empresa p { font-size: 12px }
.foto-comuna { width: 100%; float: left; position: relative }
.nombre-comuna { position: absolute; z-index: 20; top: 35%; width: 100%; color: #fff; padding-top: 10px; padding-bottom: 10px; background: rgba(36, 36, 41, .6); overflow: hidden; left: 0; text-align: center; text-transform: uppercase; font-weight: 600 }
.nombre-comuna>.iconos { position: relative; float: left }
.seo-comunas { padding: 10px }
.foto-comuna h1 { font-size: 11px }
.seccion-seo { padding-bottom: 30px; float: left; width: 100% }
.seccion-seo h1 { font-size: 16px; text-transform: uppercase; font-weight: 600; margin-top: 10px }
.seccion-seo p { font-size: 11px }
hr { margin-top: 10px; margin-bottom: 10px; border: 0; border-top: 1px solid #e2e2e2 }
section.accesos { background: #36363d; color: #fff; float: left; width: 100%; padding-bottom: 30px; padding-top: 30px }
.bloque-accesos { background: #6f7071; min-height: 140px; padding: 20px; padding-top: 50px; padding-bottom: 50px; text-align: center; font-weight: 600 }
.pie { width: 100%; float: left; background: #ececec; text-align: center; padding: 5px; font-size: 11px }
footer { padding-top: 30px; padding-bottom: 0; width: 100%; float: left; font-size: 12px; -webkit-box-shadow: 0 7px 39px 0 rgba(0, 0, 0, .43); -moz-box-shadow: 0 7px 39px 0 rgba(0, 0, 0, .43); box-shadow: 0 7px 39px 0 rgba(0, 0, 0, .43) }
footer p { margin-top: 20px }
.social-networks a { position: relative; display: inline-block; width: 40px; height: 40px; float: right; margin-left: 10px }
.social-networks a:hover:before { transform: translate3d(-50%, -50%, 0) scale(1.2); background-color: #fff }
.social-networks a:hover:after { transform: translate3d(-50%, -50%, 0) scale(1); opacity: 1 }
.social-networks a:before { content: ''; background-color: #c4c4c4; width: 38px; height: 38px; border-radius: 50%; position: absolute; top: 50%; left: 50%; transform: translate3d(-50%, -50%, 0); z-index: -1; transition: transform .6s cubic-bezier(.19, 1, .22, 1), background-color .6s cubic-bezier(.19, 1, .22, 1) }
.social-networks a:after { content: ''; width: 38px; height: 38px; border-radius: 50%; position: absolute; top: 50%; left: 50%; transform: translate3d(-50%, -50%, 0) scale(0); opacity: 0; z-index: -1; transition: transform .6s cubic-bezier(.19, 1, .22, 1), opacity .6s cubic-bezier(.19, 1, .22, 1) }
.social-networks__youtube:after { background-color: #d62424 }
.social-networks__instagram:after { background-color: #da2979 }
.social-networks__facebook:after { background-color: #2e4da7 }
.social-networks svg { fill: #f9f9f9; width: 20px; height: 20px; position: absolute; top: 50%; left: 50%; transform: translate3d(-50%, -50%, 0) }
.blanco { color: #fff }
h1.display { font-size: 25px; text-transform: uppercase; text-align: center }
.seccion-oscura { background: #303438; padding: 15px; margin-bottom: 0; color: #fff; position: relative }
.bloque-rojo { background: #e5302d; padding: 20px; border-radius: 15px; text-align: right }
h3 { font-size: 16px }
.bloque-gris { padding: 15px }
.avatar-proyecto { border: 3px solid #fff; float: left; background: #fff; position: absolute; top: -75px; left: 15px }
section.gris-claro { background: #ddd; padding: 0 }
.frase { text-align: center; color: #6f7071; font-size: 20px; padding: 50px; width: 100%; margin: 0 auto }
.tabs-proyectos { border-bottom: 15px solid #e5302d; borde-radius: 15px }
.borde-redondo-abajo { border-bottom-left-radius: 15px; border-bottom-right-radius: 15px }
.nav-pills>li>a { border-radius: 0; border-top-left-radius: 15px; border-top-right-radius: 15px; border: 0; text-transform: uppercase; font-size: 13px; font-weight: 600; color: #6f7071; padding-left: 30px; padding-right: 30px }
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover { background: #e5302d }
.tabs-proyectos { margin-top: 30px }
.video-tabs { display: none }
.carga-slides { float: left; width: 100% }
.tabs-departamentos>li+li { margin: 0 }
.tabs-departamentos>li>a { border-bottom: 5px solid #d8d8d8 }
.tabs-departamentos>li.active>a, .tabs-departamentos>li.active>a:focus, .tabs-departamentos>li.active>a:hover { background: 0 0; border-bottom: 5px solid #e5302d; color: #e5302d }
.plantas-grid { float: left; width: 100%; margin-bottom: 30px }
.bloque-plantas { width: 20%; float: left }
.bloque-plantas-wrap { margin: 15px; border: 1px solid #ccc }
.bloque-plantas-wrap h1 { padding: 15px; font-size: 20px; padding-bottom: 10px; padding-bottom: 10px; margin: 10px }
.filtros { margin-top: 30px }
.btn-filtros { background: 0 0; text-transform: uppercase; font-size: 13px; color: grey; font-weight: 600; padding-left: 50px; padding-right: 50px; outline: 0; border: 0; border-bottom: 5px solid #d8d8d8; margin: 0; float: left; border-radius: 0; width: 20%; margin-bottom: 30px }
.btn-filtros-plantas { width: 25% }
.btn-filtros:focus, .btn-filtros:focus:active { outline: 0; box-shadow: none }
.is-checked { border-bottom: 5px solid #e5302d; color: #6f7071 }
.bloque-plantas { background: #fff }
.bloque-plantas .detalles-planta { background: #fff; padding: 15px; color: #6f7071; font-size: 12px }
.btn-oscuro { border-radius: 15px; background: #6f7071; color: #fff; text-transform: uppercase; font-size: 13px; font-weight: 600 }
.btn-ver-mas-planta { border-top-left-radius: 0; border-top-right-radius: 0 }
.btn-oscuro:hover { background: #e5302d; color: #fff; text-transform: uppercase; font-size: 13px; font-weight: 600 }
.menu-fixed { position: fixed; z-index: 999; width: 100%; top: 0; background: #fff; -webkit-box-shadow: 0 7px 39px 0 rgba(0, 0, 0, .43); -moz-box-shadow: 0 7px 39px 0 rgba(0, 0, 0, .43); box-shadow: 0 7px 39px 0 rgba(0, 0, 0, .43); height: 71px; display: none }
.menu-plantas { width: 100%; background: #fff; -webkit-box-shadow: 0 7px 39px 0 rgba(0, 0, 0, .43); -moz-box-shadow: 0 7px 39px 0 rgba(0, 0, 0, .43); box-shadow: 0 7px 39px 0 rgba(0, 0, 0, .43); height: 70px; position: fixed; z-index: 1000 }
header { background: #fff }
.menu-fixed>.container>.logo img, .menu-plantas>.container>.logo img { max-width: 140px }
.menu-fixed>.container>.menu-principal, .menu-plantas>.container>.menu-principal { margin-top: 30px }
.menu-cotizar { color: #fff; text-transform: uppercase; font-size: 11px; float: right; background: #e5302d; padding: 15px }
.menu-cotizar:hover { background: #a81210; cursor: pointer }
.botones-menu-fixed { margin: 0 auto; display: inline-block; text-align: center; margin-right: 15px }
.menu-fixed p, .menu-plantas p { margin-bottom: -7px }
.iconos-menu-fixed>img { max-width: 18px; display: inline-block }
section.single-plantas { padding-top: 70px; transition: all 0.5s ease; }
section.single-plantas.open { padding-top: 0px; transition: all 0.5s ease; }
.cerrar img { max-width: 40px }
.wpcf7-list-item-label { font-size: 12px }
.bloque-informacion-plantas-single { background: #303438; color: #fff; float: left; width: 100%; padding: 15px; padding-bottom: 70px }
.no-padding-left { padding-left: 0 }
.no-padding-right { padding-right: 0 }
.contenedor-single-plantas { float: left; width: 100% }
.contenedor-single-plantas h1 { text-transform: uppercase }
.bloque-informacion-plantas-single { padding-top: 40px }
.informacion-planta { margin-top: 30px }
.info_planta_contenido { float: left; font-size: 12px; width: 100%; margin-top: 15px; margin-bottom: 15px }
.info_planta_ebook { float: right; margin-bottom: 15px }
.info_planta_contenido p { color: #fff }
.info_planta_contenido_titulo { text-transform: uppercase; color: #777 !important; font-weight: 600 }
.btn-sin-fondo { border-radius: 15px; border: 3px solid #6f7071; text-transform: uppercase; font-size: 11px; font-weight: 600 }
.btn-sin-fondo:hover { background: #e5302d; color: #fff; border-color: #e5302d }
.btn-sin-borde { border-radius: 0 !important }
.btn-rojo { border-radius: 15px; border: 0 solid #6f7071; text-transform: uppercase; font-size: 12px; font-weight: 600; background: #e5302d; margin-top: 5px; color: #fff; padding-top: 10px; padding-bottom: 10px }
.btn-rojo:focus { background: #565454; color: #fff }
.btn-gris-claro { border-radius: 15px; border: 0 solid #6f7071; text-transform: uppercase; font-size: 12px; font-weight: 600; background: #e5302d; margin-top: 5px; color: #fff; padding-top: 10px; padding-bottom: 10px; background: #b7b7b7 }
.btn-gris-claro:hover, .btn-gris-claro:focus { background: #303438; color: #fff }
.btn-gris { border-radius: 15px; border: 0 solid #6f7071; text-transform: uppercase; font-size: 12px; font-weight: 600; background: #e5302d; margin-top: 5px; color: #fff; padding-top: 10px; padding-bottom: 10px; background: #303438 }
.btn-gris:hover, .btn-gris:focus { background: #565454; color: #fff }
.btn-small { font-size: 11px; padding-top: 5px; padding-bottom: 5px }
.descargar-proyecto>.btn>i { color: red }
.relative { position: relative }
.cerrar-buscador { position: absolute; right: 0; top: 15px }
.cerrar-buscador:hover { cursor: pointer }
.cerrar-buscador img { max-width: 15px }
.btn-rojo:hover { background: #b7b7b7; color: #fff }
.btn-activo { background: #fff; color: #e5302d }
.btn-rojo:focus, .btn-rojo:focus:active { outline: 0 }
label { font-size: 11px }
.btn-sin-fondo img { display: inline-block; margin-right: 10px }
.info_planta_ebook img.iconos { max-width: 20px }
.separador-simple { width: 100%; float: left; margin-top: 15px; margin-bottom: 15px; height: 1px; background: #323236 }
.info_planta_contenido li { font-size: 12px }
.info_planta_contenido li::before { content: "• "; color: #6f7071; font-size: 25px }
.tabs-plantas { border: 0; margin-top: 30px; }
.tabs-plantas>li.active>a, .tabs-plantas>li.active>a:focus, .tabs-plantas>li.active>a:hover { border-radius: 0; background: 0 0; color: #6f7071; border-bottom: 5px solid #e5302d }
.tabs-plantas>li>a { border-bottom: 5px solid #d8d8d8; margin: 0; color: grey }
.tabs-plantas>li+li { margin: 0 }
a:hover { text-decoration: none }
.ubicacion-proyecto { text-transform: uppercase; font-size: 11px; color: #66666a; font-weight: 600 }
.ubicacion-proyecto img { max-width: 15px; display: inline-block }
.total-metros { display: inline-block; font-size: 13px; color: #e5302d; font-weight: 600; float: right; margin-top: -10px }
.texto-rojo { color: #e5302d }
.flecha-anterior, .flecha-siguiente { max-width: 60px }
.flecha-anterior:hover, .flecha-siguiente:hover { opacity: .4; cursor: pointer }
.flecha-anterior { margin-left: 15px; transform: rotate(180deg); top: 35%; position: absolute; z-index: 0; left: 15px; width: 60px; opacity: .6 }
.flecha-siguiente { margin-right: 15px; transform: rotate(0); position: absolute; z-index: 0; right: 15px; top: 35%; opacity: .6 }
.flecha-fix { top: 50% }
.flecha-fix-2 { top: 350px }
.youtube-videos { max-height: 614px }
.play-grande-wrap { left: 0; right: 0; margin-left: auto; margin-right: auto; top: 45%; width: 120px; position: absolute }
img.play-grande { max-width: 120px }
img.play-grande:hover { cursor: pointer; opacity: .6 }
.tips { font-size: 12px; line-height: 20px; margin-top: 10px }
.tips li { list-style: square }
.tips li p { margin-left: 30px }
.tips ul { padding-left: 15px }
.nombre-proyecto-menu { background: #000; color: #fff; text-transform: uppercase; text-align: center; font-size: 14px; font-weight: 600; width: 100%; background: #303438; float: left; position: absolute; top: 70px; text-align: center; -webkit-box-shadow: 0 7px 39px 0 rgba(0, 0, 0, .43); -moz-box-shadow: 0 7px 39px 0 rgba(0, 0, 0, .43); box-shadow: 0 7px 39px 0 rgba(0, 0, 0, .43) }
.subir { position: fixed; bottom: 65px; right: 20px; z-index: 9999; background: #d5d5d5; border-radius: 50% }
.subir img { max-width: 40px }
.subir img:hover { opacity: .4 }
.col-roja { background: #e5302d }
.col-gris { background: #36363d }
.texto-blanco { color: #fff }
.texto-col { padding: 30px; padding-left: 0; padding-right: 0; float: left }
.part-b { background: #303438; overflow: hidden; position: relative }
.part-b .background { display: block; position: absolute; left: 0; width: 50%; height: 100%; background-color: #e5302d }
.col-fluid-left { padding-right: 30px }
.col-fluid-right { padding-left: 30px }
.precio-planta { font-size: 14px; color: #fff; position: absolute; margin-top: -20px; padding: 5px; left: 0; right: 0; margin-left: 0; margin-right: 0; text-align: center }
.precio-planta h2 { font-size: 15px; text-align: center }
.precio-planta h3 { font-size: 12px }
.precio-planta h2>small { color: #fff }
.precio-planta>.bloque-rojo { padding: 7px; margin-left: 10px; margin-right: 10px; border-bottom-right-radius: 0; border-bottom-left-radius: 0 }
.detalle_planta>.bloque-gris { padding: 10px; border-bottom-right-radius: 0; border-bottom-left-radius: 0; background: #6f7071; color: #fff; text-align: center }
.menu-principal h1 { font-size: 20px; text-transform: uppercase; font-weight: 600 }
.gris { color: #868686 }
.descripcion-galeria { float: left }
.descripcion-galeria li { list-style: circle }
.descripcion-galeria h1, h2, h3 { text-transform: uppercase }
ol, ul { margin-top: 15px; margin-bottom: 15px }
.video { display: block; position: absolute; top: 50%; left: 50%; min-width: 100%; min-height: 100%; width: auto; height: auto }
.slick-slide figure { position: relative }
.slick-slider { height: 100% !important; min-height: 100% !important }
.slick-slide { position: relative }
.detalle_planta { margin-bottom: 30px }
.nombre-proyecto-menu h4 { padding: 15px; padding-left: 0; padding-right: 0 }
.form-control { background: #3e4246; border-color: #3e4246; color: #fff }
.form-control-blanco { background: #fff; border-color: #ccc; margin-bottom: 0; color: #3e4246; float: left; width: 100% }
span.wpcf7-list-item { margin-left: 0; margin-bottom: 20px; margin-top: 10px; float: left }
.espacio-form { margin-top: 30px; float: left; width: 100% }
#gracias-form-contacto, #gracias-form-cotizar, #gracias-form-postventa, #gracias-form-solicitar-informacion, #gracias-form-solicitar-planta, #gracias-formulario-proyectos-landing { text-align: center; position: relative; display: none }
#gracias-form-cotizar h3, #gracias-form-postventa h3, #gracias-form-solicitar-informacion h3, #gracias-form-solicitar-planta h3 { font-size: 20px }
#gracias-form-postventa { float: left; width: 100% }
img.icon-enviado { max-width: 120px; margin: 0 auto }
.cerrar-mensaje { position: absolute; top: 10px; right: 10px }
.cerrar-mensaje img { max-width: 20px }
.cerrar-mensaje:hover { opacity: .6; cursor: pointer }
#masinformacion h3 { font-size: 26px; margin-top: 30px }
#masinformacion a { color: #fff }
.padding-10-left { padding-left: 10px }
.padding-10-right { padding-right: 10px }
.theme_1.wpcf7-form input.error, .theme_1.wpcf7-form select.error, .theme_1.wpcf7-form textarea.error { border-color: #e5302d; outline: 0; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(229, 48, 45, .6); box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(229, 48, 45, .6) }
.wpcf7-form label.error { color: #fff; color: #ff4141 }
div.wpcf7-response-output, div.wpcf7-validation-errors { display: none }
select[aria-invalid=true] { border-color: red; background-color: rgba(153, 0, 0, .3) }
textarea.form-control { height: 120px }
.detalle_planta { margin-bottom: 0 }
.detalle_planta>.bloque-rojo { font-size: 16px; color: #fff; padding: 10px; border-bottom-right-radius: 0; border-bottom-left-radius: 0; border-radius: 0; padding-bottom: 5px; padding-top: 5px }
.detalle_planta small { font-size: 11px }
.bloque-plantas-wrap h3 { font-size: 16px; padding: 15px }
.avatar-proyecto { max-width: 160px }
.estado-proyecto-small { float: right; font-size: 14px }
.label-default { background: #e5302d }
.seccion-formulario { padding-bottom: 30px }
.estado-de-proyecto { position: absolute; z-index: 100; background: rgba(229, 48, 45, .7); width: 120px; margin-left: auto; margin-right: auto; min-width: 200px; color: #fff; font-size: 13px; text-transform: uppercase; text-align: center; padding-bottom: 10px; padding-top: 10px; border-bottom-right-radius: 15px; border-bottom-left-radius: 15px; -webkit-box-shadow: 0 7px 39px 0 rgba(0, 0, 0, .43); -moz-box-shadow: 0 7px 39px 0 rgba(0, 0, 0, .43); box-shadow: 0 7px 39px 0 rgba(0, 0, 0, .43); right: 0 }
.bloque-gris i { font-size: 25px }
.bloque-gris p { text-transform: uppercase }
.bloque-gris h3 { font-size: 20px }
.filtros-mapa { background: grey; padding: 7px; margin-right: 10px; color: #fff; border-radius: 15px; text-transform: uppercase; font-size: 12px !important; text-align: center; float: left }
.filtros-mapa:hover { cursor: pointer; opacity: .6 }
.filtro-proyectos { background: #e5302d !important; border: 0 !important }
.filtro-comercio { background: #ff9800 !important; border: 0 !important }
.filtro-educacion { background: #03a9f4 !important; border: 0 !important }
.filtros-mapa-wrap { float: left; width: 100%; margin-bottom: 10px; margin-top: 10px }
.filtros-mapa-wrap select { float: right }
.frase-mapa { text-align: center; color: #6f7071; font-size: 16px; padding: 15px; width: 100%; margin: 0 auto }
address { margin-top: 20px }
.wpgmp_listing_grid .wpgmp_locations .wpgmp_location_meta { margin-top: 5px; margin-left: 5px }
.wpgmp_listing_grid .wpgmp_locations_head { margin-bottom: 5px; padding: 5px !important; border: 1px solid #ccc; border-radius: 15px; margin-bottom: 0 !important }
.wpgmp_listing_grid .wpgmp_locations { vertical-align: top; display: inline-block; padding: 10px 8px; border-radius: 4px; height: auto !important; padding: 5px !important }
.wpgmp_locations .wpgmp_location_title a { font-size: 11px !important }
.altas { text-transform: uppercase }
div.wpgmp_categories { display: none }
.descripcion_galeria_proyectos { position: absolute; bottom: 0; padding: 30px; background: #6f7071; max-width: 360px; border-top-right-radius: 15px; color: #fff; z-index: 100; background: rgba(48, 52, 56, .8); min-width: 400px; z-index: 1 }
.descripcion_galeria_proyectos>.estado-proyecto-small { margin-bottom: 10px }
.fotografia-fondo { height: 523px; width: 100%; top: 0; filter: blur(15px); position: relative }
.foto_galeria { position: absolute; top: 0; width: 100% }
.galerias_wrap { position: absolute }
.descripcion_galeria_proyectos li { list-style: disc }
.descripcion_galeria_proyectos ul { padding-left: 15px }
.galerias_wrap { position: relative }
.slide-proyectos-tab { position: relative }
.ayuda { text-align: center; font-size: 12px; color: #555; float: right; margin-right: 30px; width: 160px; margin-top: 30px }
.volver { position: absolute; width: 100%; color: #ccc; padding: 15px; text-align: right; right: 15px }
.tabs-solicitar-agenda>li>a { text-transform: uppercase; color: #fff; font-size: 13px; text-align: center; background: #3e4246; border-radius: 0 }
.tabs-solicitar-agenda>li>a:hover { background: #797d82 }
.tabs-solicitar-agenda>li { width: 50% }
.tabs-solicitar-agenda>li+li { margin: 0; padding: 0; width: 50% }
.tabs-solicitar-agenda>li:first-child>a { border-top-left-radius: 15px }
.tabs-solicitar-agenda>li:last-child>a { border-top-right-radius: 15px }
.informacion-planta a { color: #fff }
label { font-weight: 400 }
.ribbon { width: 150px; height: 150px; overflow: hidden; position: absolute; z-index: 1; pointer-events: none; }
.ribbon span { position: absolute; display: block; width: 225px; padding: 8px 0; background-color: #e5302d; box-shadow: 0 5px 10px rgba(0, 0, 0, .1); color: #fff; text-shadow: 0 1px 1px rgba(0, 0, 0, .2); text-transform: uppercase; text-align: center; font-size: 16px; font-weight: 700 }
.ribbon-small span { font-size: 12px }
.ribbon-agotado span {
	background:#6b6363;
}
.ribbon-top-left { top: 0; left: 0 }
.ribbon-top-left::after, .ribbon-top-left::before { border-top-color: transparent; border-left-color: transparent }
.ribbon-top-left::before { top: 0; right: 0 }
.ribbon-top-left::after { bottom: 0; left: 0 }
.ribbon-top-left span { right: -25px; top: 35px; transform: rotate(-45deg) }
.box { position: relative; max-width: 100%; width: 100%; background: #fff; box-shadow: 0 0 15px rgba(0, 0, 0, .1) }
.ribbon-plantas { top: 0; left: -1px }
.btn-disabled { background: #ccc; color: #fff }
.linea-menu { width: 100%; background: #fff; float: left; border-top: 5px solid #f1f1f1 }
.linea-actual { width: 100%; background: #fff; float: left; border-top: 5px solid #e5302d }
.proyectos_re, .proyectos_rm { width: 100%; background: #fff; -webkit-box-shadow: 0 7px 39px 0 rgba(0, 0, 0, .43); -moz-box-shadow: 0 7px 39px 0 rgba(0, 0, 0, .43); box-shadow: 0 7px 39px 0 rgba(0, 0, 0, .43); padding: 20px; float: left; visibility: hidden; opacity: 0; position: absolute; z-index: 200; border-top: 5px solid #e5302d; background: rgba(255, 255, 255, .9) }
.listado_de_proyectos { padding: 10px; background: #fff }
.listado_de_proyectos h2 { font-size: 16px !important }
.proyectos_re a, .proyectos_rm a { color: #6f7071 }
.listado_de_proyectos h5 { text-transform: uppercase; font-size: 11px; font-weight: 700; margin: 0 }
.listado_de_proyectos h4 { margin-top: 10px }
.label { text-transform: uppercase }
.estado-proyecto-small-menu { float: right; font-size: 13px; position: absolute; right: 17px }
.muestra { display: block }
.esconde { display: none }
.cerrado { visibility: hidden; transition-property: all; transition-duration: .3s; transition: visibility .3s, opacity .3s linear; opacity: 0 }
.open { visibility: visible; opacity: 1 }
.menu-fixed>.logo { margin-top: 0; margin-bottom: 0p }
li.activoactual { background: #e5302d; color: #fff; border-top-right-radius: 10px; border-top-left-radius: 10px }
li.activoactual a { color: #fff }
li.activo { background: #e5302d; color: #fff; border-top-right-radius: 10px; border-top-left-radius: 10px }
li.activo a { color: #fff }
h6 em { font-size: 11px; opacity: .7 }
.descripcion_galeria_proyectos h3 { font-weight: 700 }
.miniaturas_de_tabs_wrap { position: absolute; bottom: 10px; right: 15px }
.miniaturas_de_tabs { display: inline-block }
.miniaturas_de_tabs img { max-width: 160px; border-radius: 15px; border: 3px solid #fff; margin-left: 10px; box-shadow: rgba(0, 0, 0, .2) 3px 5px 5px; filter: grayscale(100%); -webkit-filter: brightness(70%) }
.miniaturas_de_tabs img:hover { cursor: pointer }
.tab-pane { position: relative }
.descripcion_tab { display: none }
.miniatura_activa { position: relative; cursor: pointer; filter: grayscale(0) !important; opacity: 1 !important }
.miniatura_activa_portada { position: relative; cursor: pointer; filter: grayscale(0) !important }
.resultado-listado { display: none }
.resultados-listado-proyecto { width: 100%; float: left }
.resultados-listado-proyecto a { color: #6f7071 }
.resultado-listado { margin-top: 30px; margin-bottom: 15px }
.telefono-final { position: relative; float: left; width: 100% }
.codigoarea { float: left; width: 70px; left: 0 }
.numero9digitos { margin-left: 90px; width: 245px }
.wpcf7-form label.error { color: #e5302d; padding-top: 5px }
input.error { border-color: #e5302d; outline: 0; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(229, 48, 45, .6); box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(229, 48, 45, .6) }
.ayuda-form { font-size: 11px; float: left }
.telefono-final p { float: none !important }
.agenda-tu-visita-tab p { font-size: 12px; line-height: 22px }
.informacion-planta hr { border-top: 1px solid #545454 !important }
.estado-wrap { position: relative }
.form-control-blanco { float: left; width: 100% }
.logos-redes-top { float: right; position: absolute; z-index: 5000; right: 30px; top: 15px }
.descargar-proyecto { margin-top: 20px; float: left; width: 100% }
.bloque-proyecto-menu { margin-bottom: 15px; display: inline-table }
.mm-menu.mm-offcanvas { z-index: 9000000 }
.solo-celular, footer.celular, header.celular { display: none }
#page #menu { display: none }
nav:not(.mm-menu) { display: none }
.input-group { border-radius: 4px }
.no-margin-bottom { margin-bottom: 0 }
.input-group-addon { background: #2b2e31; color: #999; border-color: #2b2e31 }
.input-blanco { background: #ccc; color: #222; border-color: #ccc }
.input-group .form-control:last-child { border-bottom-right-radius: 4px; border-top-right-radius: 4px }
.input-group .form-control { z-index: 0 }
div.wpcf7 .ajax-loader { display: none }
.sin-padding { padding: 0 }
.contenido-sobre-foto { position: absolute; top: 0; left: 0; right: 0; bottom: 0; margin-left: auto; margin-right: auto; top: 30%; color: #fff }
.ubicacion-top { top: 5% }
.ubicacion-bottom { top: unset; bottom: 5% }
.relative { position: relative }
.contenido-sobre-foto { text-align: center; color: #414141; font-weight: 700 }
.contenido-sobre-foto h2 { font-size: 70px; color: #8c8c8c; font-weight: 700; letter-spacing: -2px; text-shadow: 2px 2px 4px rgba(255, 255, 255, .68) }
.mascara-blanca-bottom { width: 100%; position: absolute; bottom: 0; height: 250px; background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0) 2%, rgba(255, 255, 255, 1) 60%); background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0) 2%, rgba(255, 255, 255, 1) 60%); background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0) 2%, rgba(255, 255, 255, 1) 60%) }
.mascara-blanca-top { width: 100%; position: absolute; height: 250px; top: 0; background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 30%, rgba(255, 255, 255, 0) 99%, rgba(255, 255, 255, 0) 100%); background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 30%, rgba(255, 255, 255, 0) 99%, rgba(255, 255, 255, 0) 100%); background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 30%, rgba(255, 255, 255, 0) 99%, rgba(255, 255, 255, 0) 100%) }
.mm-listview>li>a, .mm-listview>li>span { white-space: normal }
.loading-formularios { width: 30px; height: 30px; background: url(img/iconos/loading.svg); background-repeat: no-repeat; margin: 15px auto; display: none }
.loading-formularios-modal { width: 30px; height: 30px; background: url(img/iconos/loading.svg); background-repeat: no-repeat; margin: 15px auto; display: none }
.bs-wizard { margin-top: 40px }
.bs-wizard { border-bottom: solid 1px #e0e0e0; padding: 0 0 10px 0 }
.bs-wizard>.bs-wizard-step { padding: 0; position: relative }
.bs-wizard>.bs-wizard-step .bs-wizard-stepnum { color: #595959; font-size: 16px; margin-bottom: 5px }
.bs-wizard>.bs-wizard-step .bs-wizard-info { color: #999; font-size: 14px }
.bs-wizard>.bs-wizard-step>.bs-wizard-dot { position: absolute; width: 30px; height: 30px; display: block; background: #3e4246; top: 45px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50% }
.bs-wizard>.bs-wizard-step>.bs-wizard-dot:after { content: ' '; width: 14px; height: 14px; background: #747c84; border-radius: 50px; position: absolute; top: 8px; left: 8px }
.bs-wizard>.bs-wizard-step>.progress { position: relative; border-radius: 0; height: 8px; box-shadow: none; margin: 20px 0 }
.bs-wizard>.bs-wizard-step>.progress>.progress-bar { width: 0; box-shadow: none; background: #3e4246 }
.bs-wizard>.bs-wizard-step.complete>.progress>.progress-bar { width: 100% }
.bs-wizard>.bs-wizard-step.active>.progress>.progress-bar { width: 50% }
.bs-wizard>.bs-wizard-step:first-child.active>.progress>.progress-bar { width: 0% }
.bs-wizard>.bs-wizard-step:last-child.active>.progress>.progress-bar { width: 100% }
.bs-wizard>.bs-wizard-step.disabled>.bs-wizard-dot { background-color: #f5f5f5 }
.bs-wizard>.bs-wizard-step.disabled>.bs-wizard-dot:after { opacity: 0 }
.bs-wizard>.bs-wizard-step:first-child>.progress { left: 50%; width: 50% }
.bs-wizard>.bs-wizard-step:last-child>.progress { width: 50% }
.bs-wizard>.bs-wizard-step.disabled a.bs-wizard-dot { pointer-events: none }
.breadcrumb { background: #f1f1f1; font-size: 11px }
.alert { margin-bottom: 0 }
.alert-info { background: #b5b5b5; color: #fff; border: 0; font-size: 11px }
.alert-info a { color: #fff; text-decoration: underline }
a { color: #222 }
input[name=TelefonoCelularSolicitante], input[name=TelefonoFijoSolicitante], input[name=Telefono] { border-top-left-radius: 0; border-bottom-left-radius: 0; border-top-right-radius: 4px !important; border-bottom-right-radius: 4px !important }
.pasos-form-postventa { display: none }
.pasos-form-postventa.active { display: block }
.btn.disabled { pointer-events: none; opacity: 10% }
span.wpcf7-not-valid-tip { display: none }
#formulario-postventa { float: left; width: 100% }
#postventa_paso_2 .input-group { margin-top: 0 }
.slick-slide img, .slide-proyectos-tab img { width: 100% }
.bloques-avellaneda { margin-bottom: 30px }
ul.menu-wp { padding-top: 0; padding-bottom: 0; margin: 0; padding: 0 }
ul.menu-wp { float: right }
.dropdown-menu>li { display: block; float: left; width: 100% }
ul.menu-wp li>ul>li a { width: 100%; border-radius: 0; font-size: 12px; color: #6f7071 }
ul.menu-wp li>ul>li a:hover { color: #fff }
.dropdown.open { text-decoration: none; background: #e5302d; color: #fff; border-top-left-radius: 10px; border-top-right-radius: 10px }
.dropdown.open a { color: #fff; text-decoration: none }
.dropdown-menu>.active>a { background: #e5302d; color: #fff }
ul.menu-wp li>ul>li a.active { color: #fff }
menu>.active>a:hover { color: #fff !important; background: #e5302d }
.current-page-item.active>a { color: #fff !important }
.current-page-parent { color: #fff !important; background: #e5302d; border-top-right-radius: 10px; border-top-left-radius: 10px }
.current-page-parent a { color: #fff }
.dropdown-menu>li.current_page_item>a { color: #fff !important }
.dropdown-menu>.active>a:hover { background: #e5302d }
.dropdown-menu>li>a { color: #6f7071 !important }
.dropdown-menu>li:hover a { color: #fff !important }
.listado_de_proyectos h4 { font-size: 15px }
#cargando-pagina { background: #fff; position: fixed; top: 0; bottom: 0; right: 0; left: 0; z-index: 99999999999; overflow-x: visible }
.estado-cargando { position: absolute; top: 30%; width: 150px; left: 0; right: 0; margin: 0 auto }
.estado-cargando-interior { position: relative; left: -50%; border: 1px solid #00f }
img.logo-load { min-width: 60px; margin: 0 auto; margin-top: 20px }
.animacion-load { width: 80px; margin: 0 auto }
.info_planta_contenido ul { padding: 0; margin: 0 }
.open>.dropdown-menu { width: 100% }
.estado-proyecto-small { position: absolute; right: 10px; top: 5px }
.estado-normal { position: relative; top: 0; right: 0 }
.img-full { width: 100% }
.sala-de-ventas hr { border-top: 1px solid #f74f4f }
.icon-svg { display: inline-block; max-width: 40px; float: left; }
footer .icon-svg { max-width: 50px }
.menu-item-321, .menu-item-321 a { background: #fff; color: #6f7071 }
.lazyYT-container .html5-info-bar { display: none }
.ytp-thumbnail { border-radius: 15px }
.lazyYT-container { background: #fff }
.dropdown-menu>li>a { white-space: normal }
.current-menu-parent { background: #e5302d; color: #fff; border-top-right-radius: 10px; border-top-left-radius: 10px }
.current-menu-parent a { color: #fff }
.wpcf7-form label.error { margin: 0; padding: 0 }
.form-group { margin-bottom: 15px; width: 100%; display: inline-block }
div.wpcf7 p { display: inline }
form#formulario-postventa h4 { margin-bottom: 15px }
.container { -webkit-animation-delay: 2s; animation-delay: 1.5s; animation-duration: 1s }
.avatar-proyecto { -webkit-animation-delay: 2s; animation-delay: 1.5s; animation-duration: 1s }
.bloque-gris { -webkit-animation-delay: 2s; animation-delay: 2s; animation-duration: 1s }
.bloque-rojo { -webkit-animation-delay: 2s; animation-delay: 2.5s; animation-duration: 1s }
.frase-inicio { -webkit-animation-delay: 1s; animation-delay: 1s; animation-duration: 1s }
.titulos-inicio { -webkit-animation-delay: 2s; animation-delay: 3.5s; animation-duration: 1s }
.politica:hover { cursor: pointer }
.mm-slideout { z-index: auto }
.modal { z-index: 9999 }
.wpcf7-list-item-label { margin-left: 15px }
.form-group-telefono { margin-bottom: 10px }
.mm-panel>ul.mm-listview>.current-menu-item { border-radius: 0 }
html input[disabled] { cursor: not-allowed; background: #ccc }
.head { position: relative }
.linea-menu-bot { width: 100%; background: 0 0; display: block; height: 5px; bottom: 0; -webkit-transition: all .5s ease; -moz-transition: all .5s ease; -o-transition: all .5s ease; -ms-transition: all .5s ease; transition: all .5s ease; z-index: 199 }
.linea-menu-bot.activo { background: #e5302d }
.linea-menu-bot-fija { width: 100%; background: #e5302d !important; display: block; height: 5px; bottom: 0; -webkit-transition: all .5s ease; -moz-transition: all .5s ease; -o-transition: all .5s ease; -ms-transition: all .5s ease; transition: all .5s ease; z-index: 199 }
.linea-menu-bot-fija.activo { background: #e5302d !important }
.dropdown-menu { top: 46px; margin: 0; border: 0; border-radius: 0; padding-top: 0; padding-bottom: 0 }
.modal-title { text-transform: uppercase }
span.wpcf7-list-item { margin-top: 0 }
#formulario-puede-descargar { display: none }
.wpgmp_tabs_container .jspHorizontalBar { display: none }
.wpgmp_tabs_container * { font-size: 14px !important }
.proyectos_respuesta { margin: 30px auto }
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus { outline: 0 }
a, a:active, a:focus, a:hover, a:visited { text-decoration: none }
.lb-lg { font-size: 14px; position: absolute; top: 10px; right: 10px }
.owl-carousel .owl-video-tn { position: relative; height: 0; background-size: cover; padding-bottom: 56.25%; overflow: hidden }
.maxh { max-height: 100vh }
.flecha-next, .flecha-prev { max-width: 80px; opacity: .6 }
.flecha-next:hover, .flecha-prev:hover { cursor: pointer; opacity: .3 }
.flecha-prev { position: absolute; left: 0; top: 40%; z-index: 9; transform: rotate(180deg) }
.flecha-next { position: absolute; right: 0; top: 40%; z-index: 9 }
.prev-proyectos { top: 40% }
.next-proyectos { top: 40% }
.prev-inicio { top: 28% }
.next-inicio { top: 28% }
.top-50 { top: 50% }
.pos-absolute { position: absolute; z-index: 9 }
.cropimagen { position: relative; width: 600px; height: 280px; overflow: hidden; border-left: 10px solid #fff; border-right: 10px solid #fff }
.cropimagen img { position: absolute; top: -9999px; left: -9999px; right: -9999px; bottom: -9999px; margin: auto }
.sinborde { border-left: 0; border-right: 0 }
.fancybox-caption ul { padding: 0 }
#fancybox-container-1>div.fancybox-inner>div.fancybox-caption-wrap>div ul { padding: 0 }
.fancybox-button--share { display: none }
.wpgmp-map-2 .wpgmp_tabs_container { margin-top: 45px }
img.zoom-tab { position: absolute; max-width: 50px; top: 50%; left: 50% }
.owl-miniaturas>.owl-stage-outer.owl-height>.owl-stage>.owl-item.active { opacity: 1 }
.owl-miniaturas>.owl-stage-outer.owl-height>.owl-stage>.owl-item { opacity: .5 }
.owl-miniaturas>.owl-stage-outer.owl-height>.owl-stage>.owl-item:before { display: block; position: absolute; top: 0; bottom: 0; left: 0; right: 0; background: rgba(0, 0, 0, .5); transition: all .3s linear }
.owl-miniaturas>.owl-stage-outer.owl-height>.owl-stage>.owl-item.active { opacity: 1 }
.owl-miniaturas>.owl-stage-outer.owl-height>.owl-stage>.owl-item.active:before { opacity: 1; background: 0 0 }
.wpgmp_tabs_container { margin-top: 30px }
section.seccion-con-espacio { margin-bottom: 30px }
section.landing { padding: 30px 0 30px 0; -webkit-box-shadow: 0 7px 39px 0 rgba(0, 0, 0, .43); -moz-box-shadow: 0 7px 39px 0 rgba(0, 0, 0, .43); box-shadow: 0 7px 39px 0 rgba(0, 0, 0, .43) }
li.bloques-paginas-landing { padding: 10px 0 10px 0; border-bottom: 1px solid #ccc }
.categoria>li:last-child { border-bottom: 0 }
.label-landing { position: absolute; top: 40px; right: 40px; font-size: 15px }
.label-landing-normal { position: absolute; top: 5px; right: 20px; font-size: 15px }
.descripcion-landing { margin-top: 15px }
.descripcion-landing>h5 { text-transform: uppercase; font-size: 13px; margin-bottom: 10px }
.descripcion-landing>h4 { font-size: 22px }
.descripcion-landing p { font-size: 12px }
.descripcion-landing h2 { font-size: 18px }
.proyecto-destacado { background: rgba(255, 255, 255, .96); padding: 30px; position: absolute; z-index: 3; margin-top: 30px }
.frase-landing h2 { font-size: 20px; text-transform: none }
.descripcion-entorno h2 { margin-top: 15px; font-size: 18px; text-transform: none; font-weight: 400 }
.descripcion-entorno { margin-bottom: 30px }
.proyectos-landing { margin-top: 30px }
.formulario-landing { margin-top: 30px }
section.formulario-y-texto { padding-top: 30px; padding-bottom: 30px; -webkit-box-shadow: 0 12px 38px -23px rgba(0, 0, 0, .75); -moz-box-shadow: 0 12px 38px -23px rgba(0, 0, 0, .75); box-shadow: 0 12px 38px -23px rgba(0, 0, 0, .75) }
.tabla-seo h2 { font-size: 16px }
.cerrar-landing { background: #e5302d; padding: 20px; position: absolute; right: 0 }
.cerrar-landing img { max-width: 20px }
.cerrar-landing:hover { cursor: pointer }
.bloques-landing { margin-bottom: 30px; position: relative }
.nombre-landing { text-transform: uppercase; font-size: 13px; font-weight: 700 }
ul.paginas-landing { padding: 0; margin: 0 }
ul.paginas-landing li { display: inline-block }
ul.paginas-landing li:after { content: "," }
ul.paginas-landing li:last-child:after { content: "" }
.menu-principal li a { font-size: 14px }
h1 { font-size: 26px }
h2 { font-size: 20px }
h4 { font-size: 15px }
h3 { font-size: 13px }
.frase { font-size: 16px }
.descripcion-proyectos-tabs { background: rgba(48, 52, 56, .8); padding: 15px; color: #fff; position: absolute; bottom: 0; z-index: 100; width: 100% }
.descripcion-proyectos-tabs-normal>ul, .descripcion-proyectos-tabs>ul { padding: 0; margin: 0 }
.descripcion-proyectos-tabs-normal { background: rgba(48, 52, 56, .8); padding: 15px; color: #fff; width: 100% }
.form-group { position: relative; margin-bottom: 20px }
.ayuda-form { position: absolute; top: -20px; left: 0; font-size: 11px; color: #aaa; transition: all .1s linear; opacity: 0; font-weight: 700 }
.ayuda-form.on { color: #4481c4 }
.ayuda-form.show { top: -20px; opacity: 1 }
.bloque-color { padding: 30px }
.fondo-rojo { background: #fe1518; color: #fff; background: rgba(254, 21, 24, .8) }
.fondo-gris { background: #323739; color: #fff }
section.empresa h3 { font-size: 15px; font-weight: 700; margin-bottom: 15px }
.font-media { font-size: 14px }
.bloque-con-fondo { filter: blur(8px); position: relative; height: 360px; background-size: contain }
.bloque-con-fondo-wrap { position: absolute; z-index: 1; top: 0; width: 100% }
.bloque-fondo-completo { margin-bottom: 60px }
.contenedor-flex { display: flex }
.flex-1 { flex: 1 }
.flex-2 { flex: 2 }
.sin-padding { padding-left: 0; padding-right: 0 }
.logo-empresa { max-width: 220px; margin: 0 auto; margin-bottom: 15px }
.destacados h2 { font-size: 30px; font-weight: 700; text-align: center; margin-bottom: 0 }
.bajo-destacado { text-align: center; font-size: 14px }
img.icono-destacado { max-width: 80px; margin: 0 auto; margin-bottom: 5px }
.destacados { margin-bottom: 30px }
.separador-de-seccion { background: #fff; padding: 15px; float: left; width: 100%; -webkit-box-shadow: 0 7px 39px 0 rgba(0, 0, 0, .43); -moz-box-shadow: 0 7px 39px 0 rgba(0, 0, 0, .43); box-shadow: 0 7px 39px 0 rgba(0, 0, 0, .43) }

/* Sección Experiencia Avellaneda */
section.fotomastexto { margin-bottom: 60px; }
section.fotomastexto p { font-size: 11px; }
section.destacados { margin-top: 0 }
.contenedor-flex { display: flex; width: 100% }
.flex { flex: 1 }
.flex-2 { flex: 2 }
.row-eq-height { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex }
.centrarmedio { display: flex; align-items: center; justify-content: center }
section.corporativo { padding-top: 30px; padding-bottom: 30px }
#menu-principal>li.current_page_item { background: #e5302d; border-top-right-radius: 10px; border-top-left-radius: 10px }
#menu-principal>li.current_page_item a { color: #fff }
.paso-grafica { position: relative }
.paso-grafica img.paso { max-width: 150px }
.pasos-proceso { padding-bottom: 30px }
.linea-pasos { background: #dee3e5; position: absolute; height: 100%; width: 46px; left: 60px }
.linea-pasos-2 { background: #d0d8da; position: absolute; height: 100%; width: 45px; left: 105px }
.owl-carousel { position: relative; z-index: 2 }
.ubicacion-actual { font-weight: 700; font-size: 13px; margin-bottom: 7px; text-transform: uppercase }
section.proyectos-slides-destacados { padding-bottom: 30px }
section.proyectos { margin-top: 30px }
.big-slide-contenedor, .owl_landing_proyecto, .proyectos-slide-contenedor, .proyectos-slide-miniaturas_contenedor { display: none }
.loading_slides { width: 100%; height: 500px; background: #fff }
.loading_slides img { position: absolute; z-index: 1; top: 200px; bottom: 0; left: 0; right: 0; margin-left: auto; margin-right: auto; text-align: center; width: 60px }
#controles-slides>.anterior>img:hover, #controles-slides>.siguiente>img:hover { opacity: 1; cursor: pointer }
#controles-slides>.siguiente>img { max-width: 50px; opacity: .8; background: rgba(255, 255, 255, .4); border-radius: 15px; border-top-right-radius: 0; border-bottom-right-radius: 0; position: absolute; z-index: 2; top: 50%; transform: translateY(-50%); right: 0; padding: 15px 0 15px 0 }
#controles-slides>.anterior>img { max-width: 50px; opacity: .8; transform: rotate(180deg); background: rgba(255, 255, 255, .4); border-radius: 15px; border-top-right-radius: 0; border-bottom-right-radius: 0; position: absolute; z-index: 2; top: 50%; transform: translateY(-50%) rotate(180deg); left: 0; padding: 15px 0 15px 0 }
#controles-slides>.anterior>img.proyectos-anterior, #controles-slides>.siguiente>img.proyectos-siguiente { top: 53% }
.estado-proyecto-small-destacado { position: absolute; top: 40px; right: 40px; z-index: 3; font-size: 14px }
section#instagram-feed { padding: 30px 0 50px 0; -webkit-box-shadow: 0 7px 39px 0 rgba(0, 0, 0, .43); -moz-box-shadow: 0 7px 39px 0 rgba(0, 0, 0, .43); box-shadow: 0 7px 39px 0 rgba(0, 0, 0, .43); overflow: hidden }
.sbi_load_btn { border-radius: 15px; border: 0 solid #6f7071; text-transform: uppercase; font-size: 12px; font-weight: 600; background: #b7b7b7 !important; margin-top: 5px; color: #fff; padding-top: 10px; padding-bottom: 10px }
.sbi_follow_btn a { border-radius: 15px; border: 0 solid #6f7071; text-transform: uppercase; font-size: 12px; font-weight: 600; background: #e5302d !important; margin-top: 5px; color: #fff; padding-top: 10px; padding-bottom: 10px }
.feed { width: 20%; display: inline-block }
#compartir.single-plantas { height: 50px; text-align: right; margin: 15px 0 15px 15px }
#compartir li { display: inline-block; margin: -2px; background: #d4d1d5 }
#compartir li a { color: #fff; padding: 15px; display: inline-block; text-align: center; font-size: 25px; float: right }
#compartir li .social a { color: #fff }
#compartir .social.twitter:hover { background: #00aced }
#compartir .social.facebook:hover { background: #3b5998 }
#compartir .social.email:hover { background: #dd4b39 }
#compartir .social.pdf:hover { background: #dd4b39 }
#compartir .social.print:hover { background: #222 }
#compartir .social.whatsapp:hover { background-color: #0ade68 }
#compartir .social a:hover { opacity: .5; cursor: pointer; -moz-transition: all 1s ease-in; -webkit-transition: all 1s ease-in; -o-transition: all 1s ease-in; transition: all 1s ease-in }
.footer-compartir { position: fixed; z-index: 11; width: 60px; height: 60px; bottom: 0; left: 10px }
.footer-compartir:hover { cursor: pointer }
.compartir-iconos { background: rgba(255, 255, 255, .9); width: 100%; position: fixed; bottom: 0; z-index: 10; height: 250px; text-align: center; padding-top: 50px; border-top: 10px solid #ccc; text-transform: uppercase; font-size: 13px; font-weight: 700; -webkit-box-shadow: 0 7px 39px 0 rgba(0, 0, 0, .43); -moz-box-shadow: 0 7px 39px 0 rgba(0, 0, 0, .43); box-shadow: 0 7px 39px 0 rgba(0, 0, 0, .43); display: none }
.compartir-iconos li { display: inline-block; font-size: 40px; color: #fff; padding: 15px; width: 24%; color: #d1c8d2 }
.compartir-iconos .twitter a { color: #00aced }
.compartir-iconos .facebook a { color: #3b5998 }
.compartir-iconos .whatsapp a { color: #0ade68 }
.compartir-iconos .email a { color: #dd4b39 }
.icono-compartir-footer-cerrar { display: none }
.btn-breadcrumb { font-size: 11px !important }
section.mas-promos { -webkit-box-shadow: 0 7px 39px 0 rgba(0, 0, 0, .43); -moz-box-shadow: 0 7px 39px 0 rgba(0, 0, 0, .43); box-shadow: 0 7px 39px 0 rgba(0, 0, 0, .43); padding: 30px 0 30px 0 }
img.blancoynegro { -webkit-filter: grayscale(100%); filter: grayscale(100%); z-index: 0 }
.breadubicaciones { margin-bottom: 15px }
.videocorporativo-wrap { position: absolute; z-index: 10; left: 0; right: 0 }
.videocorporativo { position: relative; max-width: 700px; width: 950px; margin: 0 auto; margin-top: -375px }
.side-compartir { position: fixed; top: 40%; z-index: 9999; background: #fff; -webkit-box-shadow: 0 3px 20px 0 rgba(0, 0, 0, .2); -moz-box-shadow: 0 3px 20px 0 rgba(0, 0, 0, .2); box-shadow: 0 3px 20px 0 rgba(0, 0, 0, .2) }
.side-compartir li a { font-size: 30px; color: #c4c4c4 }
.side-compartir li { padding: 15px 10px 10px 15px }
.side-compartir li.twitter a:hover { color: #00aced }
.side-compartir li.facebook a:hover { color: #3b5998 }
.side-compartir li.email a:hover { color: #dd4b39 }
.side-compartir li.whathsapp a:hover { color: #0ade68 }
section.plantas-disponibles { padding: 30px 0 45px 0; -webkit-box-shadow: 0 7px 39px 0 rgba(0, 0, 0, .43); -moz-box-shadow: 0 7px 39px 0 rgba(0, 0, 0, .43); box-shadow: 0 7px 39px 0 rgba(0, 0, 0, .43) }
section.plantas-disponibles h2 { margin-bottom: 30px }
.bloque-plantas-disponibles { -webkit-box-shadow: 0 3px 39px 0 rgba(0, 0, 0, .43); -moz-box-shadow: 0 3px 39px 0 rgba(0, 0, 0, .43); box-shadow: 0 3px 39px 0 rgba(0, 0, 0, .43) }
.bloque-plantas-disponibles a { color: #777 }
.bloque-plantas-disponibles>.contenido { padding: 15px }
.bloque-plantas-disponibles>.contenido>.titulos { font-size: 15px }
.texto-sobre-imagen { position: absolute; padding: 30px; background: rgba(0, 0, 0, .5); color: #fff; left: 0; right: 0; text-align: center; bottom: -15px; margin: 15px }
.texto-sobre-imagen>.texto { text-transform: uppercase; font-size: 15px; font-weight: 700 }

/* Sección Instagram */
section.bloque-instagram { padding: 30px 0 30px 0px; -webkit-box-shadow: 0 7px 39px 0 rgba(0, 0, 0, .43); -moz-box-shadow: 0 7px 39px 0 rgba(0, 0, 0, .43); box-shadow: 0 7px 39px 0 rgba(0, 0, 0, .43) }
.eapps-instagram-testimonials-title { font-family: Montserrat, sans-serif; font-weight: 400 !important; font-size: 20px !important; text-transform: uppercase }

/* Sección Logos */
section.bloque-logos-corporativos { padding: 30px 0 30px 0px; }
.bloque-logos-corporativos img { max-width: 120px; -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */ filter: grayscale(100%); display: block; margin: 0 auto; }

/* Sección Ver Más Plantas */
section.ver-mas-plantas { background: #dddddd; padding: 25px 0 15px 0px; margin-top: 70px; color: white; font-size: 12px; text-align: right; display: none; }
.bloque-mas-plantas { background: white; color: #868686; padding: 15px; margin-bottom: 15px; }
.bloque-mas-plantas h4 { font-weight: bold; font-size: 13px; margin-top: 7px; }
.menu-single-plantas { text-align: right; }
.menu-single-plantas h2 { padding-top: 12px; padding-right: 15px; float: right; }
section.ver-mas-plantas li a { color: #868686; }
.owl-theme .owl-dots .owl-dot span { background: #b9b9b9; }


/* Ganadores */
section.ganadores .nombre {
	color:#e24c2e;
	font-weight: bold;
}

section.ganadores .premio {
	font-weight: bold;
}

section.ganadores .persona-ganador {
	padding:30px;
}

a:focus {
	outline: none;
}
a > img:focus, a img:focus  {
	outline:none;
}
